.CodeMirror {
    height: 65%;
    margin: 0;
}

.CodeMirror-activeline-background {
    background: #f5f5f5;
}   

#problem {
    font-family: sans-serif;
}

#commands {
    height: 5%;
}

#commands button {
    padding: 10px;
    border-radius: 5px;
}

#reset {
    background-color: #DC3545;
    border-color: #DC3545;
    color: white;
}

#submit {
    background-color: #28A745;
    border-color: #28A745;
    color: white;
}

#console, #testResults { 
    height: 30%; 
    width: 100%; 

    font-size: 14px;

    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

/* Style the tab */
/* https://www.w3schools.com/howto/howto_js_tabs.asp */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 10px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#problemCarousel {
    height: 2em;
    margin-bottom: 1em;
}

.problemButton {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 0 10px #e6e6e6;
}

.problemButton.active {
    box-shadow: 0px 0px 2px 1px purple;
}